@import "tailwindcss";

@theme {
  --font-sans: "IBM Plex Sans Arabic", system-ui, sans-serif;
}

:root {
  --primaryColor: #6c63ff;
  --secondaryColor: #08060d;

  --bg: #fff;
  --border: #e5e7eb;

  --text: #1a1a2e;
  --textSecondary: #6b7280;
}
* {
  box-sizing: border-box;
}

html,
body,
#root {
  font-family: "IBM Plex Sans Arabic", system-ui, sans-serif;
}

button,
input,
textarea,
select {
  font: inherit;
}
